@import "index";

* {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
h2 {
  @include color($hColor);
}
section {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px;
  @include bgColor($sectionBgColor);
  @include borderRadius($imageRadius);
}
img {
  @include borderRadius($imageRadius);
}
.card {
  @include borderRadius($cardRadius);
  .card-image {
    img {
      @extend img;
    }
  }
}
